

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@600&display=swap');

  :root{
    --fonte-primaria: 'Inter', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --tamanho-fonte: 25px;
  }
*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    padding: 1% 1% 1% 1%;
    display: flex;
    background-color: #FAD511;
    align-items: center;
    justify-content: center;
    gap: 120px;
    font-family: var(--fonte-primaria);
    font-weight:500;
    font-size: 1.5rem;
}

body{
    background-color: black;
    font-family: var(--fonte-primaria);
}

.paragrafo{
    padding: 2% 10%;
    font-size: 1.25rem;
    color: #EAE2B9;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: justify;
    font-size: var(--tamanho-fonte);

    
}

.titulo{
    text-align: center;
    font-family: var(--fonte-primaria);
    padding-top: 30px;
    padding-bottom: 30px;
}

.aparelho{
    align-items: center;
    display: flex;
    gap: 45px;    
    justify-content: center;
}

.aparelhos{
    border-radius: 45px;
    
}

.treinadores{
    display: flex;
    margin: 0px 150px 0px 150px;
    gap: 100px;
    align-items: center;
}

.imagens{
    display: flex;
    gap: 25px;    
    justify-content: space-around;
    width: 100%;

}

.imagem{
    border-radius: 45px;
    align-items: center;
    padding-top: 16px;
}

.contato{
    justify-content: center;
    display: flex;
    gap: 150px;
    align-items: center;

}

.contato_contato{
    text-align: center;
    gap: 25px;
    display: flex;
    flex-direction: column;

}

.logo_contato{
    padding-top: 2%;
    display: flex;
    gap: 60px;
    
}
.rodape{
    padding: 2%;
    background-color: #FAD511;
    color: black;
    text-align: center;
    font-family: var(--fonte-primaria);
    font-weight:500;
    font-size: 1.5rem;
}

@media (min-width:800px) and (max-width:1500px){
    .aparelhos{
        width: 25%;    
    }
    
    .treinadores{
        flex-direction: column-reverse;
    }

    .treinador{
        width: 45%;
    }

    .imagens{
        display: flex;
        
    }
    .imagem{
        width: 20%;
    }
    .mapa{
        width: 80%;
    }

    .contato{
        gap:20px;
    }
}

@media (max-width:799px){
    .treinadores{
        display: grid;
        margin: auto;
        gap: 10px;
    }

    .aparelho{
        display: grid;
        align-content: center;
        justify-items: center;
    }
    .aparelhos{
        width: 80%;
        
    }

    .imagens{
        display: grid;
        justify-items: center;

    }
    .imagem{
        width: 80%;

    }
    .contato{
        display: grid;
        gap: 15px;
    }
    .treinadore{
    }
}
 
